.facilities {
  width: 90%;
  margin: 120px auto;
  color: white;
}

/* heading */
.section-heading {
  text-align: center;
  margin-bottom: 70px;
}

.section-heading span {
  color: #d4b06a;
  letter-spacing: 3px;
  font-size: 25Spx;
}

.section-heading h2 {
  font-size: 56px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  margin: 15px 0 18px 0;
}

/* gold underline */
.heading-line {
  width: 120px;
  height: 3px;
  background: #d4b06a;
  margin: auto;
  border-radius: 10px;
}

.section-heading p {
  max-width: 750px;
  margin: 25px auto 0;
  line-height: 1.8;
  color: rgba(255,255,255,0.8);
  font-size: 17px;
}

/* grid */
.facilities-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

/* card */
.facility-card {
  background: rgba(255,255,255,0.03);
  border-radius: 22px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.08);

  transition: 0.4s ease;
}

.facility-card:hover {
  transform: translateY(-8px);
  border-color: #d4b06a;
}

/* image */
.facility-image {
  width: 100%;
  height: 270px;
  overflow: hidden;
}

/* IMPORTANT → fixes face cropping */
.facility-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center top;

  transition: 0.5s ease;
}

.facility-card:hover img {
  transform: scale(1.05);
}

/* content */
.facility-content {
  padding: 28px;
}

.facility-content h3 {
  font-size: 28px;
  margin-bottom: 16px;
  line-height: 1.2;
}

.facility-content p {
  font-size: 15px;
  line-height: 1.7;
  color: rgba(255,255,255,0.75);
  margin-bottom: 25px;
}

/* button */
.facility-content button {
  background: transparent;
  color: #d4b06a;
  border: none;
  cursor: pointer;

  font-size: 14px;
  letter-spacing: 1px;
}

/* mobile */
@media(max-width:1100px) {
  .facilities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:700px) {
  .facilities-grid {
    grid-template-columns: 1fr;
  }

  .section-heading h2 {
    font-size: 38px;
  }
}